main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-padrao {
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 100%;
  box-sizing: border-box;
}

.checkbox {
  margin: 20px 0;
}

form button {
  width: 100%;
  padding: 15px 0;
  background-color: orange;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease all;
  cursor: pointer;
}

form button:hover {
  background-color: darkorange;
  transform: scale(0.95);
}

table {
  margin: 20px 0 40px;
  width: 40%;
}

thead {
  background-color: #555;
  color: #fff;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000;
  padding: 8px 15px;
  vertical-align: middle;
}

select {
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 940px) {
  main,
  form {
    width: 100%;
    box-sizing: border-box;
  }

  form {
    padding-left: 10px;
    padding-right: 10px;
  }
}
